.center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
}

.dot {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #20A1D4;
    -webkit-animation: scale 3s linear infinite;
    -o-animation: scale 3s linear infinite;
    animation: scale 3s linear infinite;
}

.dot:nth-of-type(1) {
    -webkit-transform:rotate(30deg) translateX(100px) rotate(-30deg);
}

.dot:nth-of-type(2) {
    -webkit-transform:rotate(60deg) translateX(100px) rotate(-60deg);
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.dot:nth-of-type(3) {
    -webkit-transform:rotate(90deg) translateX(100px) rotate(-90deg);
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.dot:nth-of-type(4) {
    -webkit-transform: rotate(120deg) translateX(100px) rotate(-120deg);
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.dot:nth-of-type(5) {
    -webkit-transform: rotate(150deg) translateX(100px) rotate(-150deg);
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.dot:nth-of-type(6) {
    -webkit-transform: rotate(180deg) translateX(100px) rotate(-180deg);
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.dot:nth-of-type(7) {
    -webkit-transform: rotate(210deg) translateX(100px) rotate(-210deg);
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.dot:nth-of-type(8) {
    -webkit-transform: rotate(240deg) translateX(100px) rotate(-240deg);
    -webkit-animation-delay: 1.75s;
    -moz-animation-delay: 1.75s;
    -o-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.dot:nth-of-type(9) {
    -webkit-transform:  rotate(270deg)translateX(100px) rotate(-270deg);
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.dot:nth-of-type(10) {
    -webkit-transform: rotate(300deg) translateX(100px) rotate(-300deg);
    -webkit-animation-delay: 2.25s;
    -moz-animation-delay: 2.25s;
    -o-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.dot:nth-of-type(11) {
    -webkit-transform: rotate(330deg) translateX(100px) rotate(-330deg);
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.dot:nth-of-type(12) {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    -webkit-animation-delay: 2.75s;
    -moz-animation-delay: 2.75s;
    -o-animation-delay: 2.75s;
    animation-delay: 2.75s;
}

@-webkit-keyframes rotate {

    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes scale {
    0% {
        width: 24px;
        height: 24px;
    }
    50% {
        width: 12px;
        height: 12px;
    }

    100% {
        width: 24px;
        height: 24px;
    }
}

@-o-keyframes scale {
    0% {
        width: 24px;
        height: 24px;
    }
    50% {
        width: 12px;
        height: 12px;
    }

    100% {
        width: 24px;
        height: 24px;
    }
}

@-moz-keyframes scale {
    0% {
        width: 24px;
        height: 24px;
    }
    50% {
        width: 12px;
        height: 12px;
    }

    100% {
        width: 24px;
        height: 24px;
    }
}

@keyframes scale {
    0% {
        width: 24px;
        height: 24px;
    }
    50% {
        width: 12px;
        height: 12px;
    }

    100% {
        width: 24px;
        height: 24px;
    }
}